/* Place image side by side */
.md-header__button.md-logo {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.6rem;
    max-width: 100%;
    overflow: visible;
  }
  
  /* Bigger logo */
  .md-header__button.md-logo img {
    height: 60px !important;
    width: auto !important;
    margin-right: 12px;
    object-fit: contain;
  }
  